 /*フォントの読み込み*/
 @import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
 @import url('https://fonts.googleapis.com/css?family=Sacramento');

* {
    margin: 0px;
    padding: 0px;
  }
 
body {
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #707070;
    font-size: 16px;
}

header {
    height: 80px;
    width: 100%;
    background-color: #D7FAF9;
    display: flex;
    justify-content: space-between;
}

.header-list {
    margin-right: 20px;
}

.header-logo {
    padding: 20px 30px;
    font-size: 28px;
}

.header-list ul {
    display: flex;
  }

.header-list li {
    display: inline-block;
    font-size: 20px;
    padding: 30px 30px 20px 30px;
}

.header-list a {
    color: #707070;
    text-decoration: none;
    transition: all 0.3s;
}

.header-list a:hover {
    color: #008299;
  }

main {
    text-align: center;
  }

.main-img img {
    width: 240px;
    height: 240px;
    margin: 50px 0;
}

.resume {
    margin-bottom: 50px;
}
.resume a {
    color: #707070;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.btn-resume {
    display: inline-block;
    border: 2px solid #707070;
    padding: 10px 20px;
    box-shadow: 0 5px #a9a9a9;
}

.btn-resume:active {
    box-shadow: none;
    position: relative;
    top: 5px;
    /*ボタンを押すと影がへこむ動作*/
}

.main-text p {
    line-height: 30px;
    margin-bottom: 40px;
}

.line {
    width: 60%;
    height: 60%;
    margin-top: 30px;
}

h1 {
    margin: 30px 0;
}

.about-container {
    display: flex;
    justify-content: center;
    text-align: left;
}

.about-contents {
    margin-right: 30px;
}

.adout-icon {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 8px 15px 0;
}

.message {
    margin: 40px 0;
}

.message a {
    color: #707070;
}

.message img {
    width: 35%;
    height: 35%;
}

.products-img {
    width: 50%;
    height: 50%;
    padding-bottom: 50px;
}

.gallery-cat {
    padding: 50px;
}

.gallery-bear {
    padding: 50px;
}

.tool {
    margin-top: 10px;
}

.sns-container {
    display: flex;
    padding: 50px;
    margin: 50px 80px;
    justify-content: center;
}

.sns-icon {
    padding: 20px;
    width: 25%;
}

.sns-list a {
    transition: all 0.5s;
}

.strawberry a:hover {
    color: #db7093;
}

.vanilla a:hover {
    color: #edde7b;
}

.mint a:hover {
    color: #84d6d6;
}
.melon a:hover {
    color: #7affab;
}

.sns-text  {
    color: #707070;
    text-decoration: none;
    font-family: 'Sacramento', cursive;
    display: block;
    letter-spacing: 0.1em;
    margin-top: 30px;
}

.sns p {
    font-family: 'Sacramento', cursive;
    letter-spacing: 0.1em;
    color: #958383;
    font-size: 20px;
}

.gallery p {
    line-height: 30px;
    padding-bottom: 10px;
}

.gallery-bear h3 {
    margin-bottom: 30px;
}

.gallery-more {
    padding : 20px;
    background-color: #f5f4f4;
    border: 1px solid #bbbaba;
    border-radius: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    background-color: #C1E0EA;
    width: 100%;
    height: 150px;
    margin-top: 100px;
}

.copy-right {
    padding: 40px 30px;
}

/*スマホ対応*/
@media screen and (max-width: 480px) {  

    body {
        min-width: 550px;
    }

    .main-img img {
        width: 360px;
        height: 360px;
        margin: 80px;
    }

    .header-list {
        margin-top: 15px;
        margin-right: 20px;
    }

    .header-list li {
        font-size: 16px;
        padding: 20px 20px 10px 20px;
    }

    .resume {
        padding: 30px;
    }

    .line {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 60px 0 50px 0;
    }

    .products-img {
        width: 100%;
        height: 100%;
    }

    .gallery-more {
        width: 70%;
    }

    .sns-icon {
        width: 25%;
    }

    .sns-list {
        width: 50%;
    }

    .sns-container {
        padding: 10px;
        margin: 50px 30px;
        display: flex;
        flex-wrap: wrap;
    }

    footer {
        height: 150px;
    }

    .copy-right {
        text-align: center;
        padding: 40px 30px;
    }

    .sns p {
        padding: 50px 0;
        letter-spacing: 0.2em;
    }
}